<div class="register-from-wrapper">
    <div class="my-3 alert alert-{{alert.level}} fade show alert-dismissible" role="alert" *ngIf="alert.message !== ''">
        {{alert.message}}
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="alert.message = ''"></button>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register($event)">
        <div>
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" id="username" class="form-control" formControlName="username"
                autocomplete="off" [ngClass]="{'is-invalid': username?.invalid && (username?.touched || username?.dirty)}">
            <div class="invalid-feedback" *ngIf="username?.invalid && (username?.touched || username?.dirty)">
                <div *ngIf="username?.errors?.['required']">
                    Username is required
                </div>
                <div *ngIf="username?.errors?.['pattern']">
                    Username can't contain white spaces
                </div>
            </div>
        </div>
        <div class="mt-2">
            <label for="email" class="form-label">Email:</label>
            <input type="text" name="email" id="email" class="form-control" formControlName="email"
                autocomplete="off" [ngClass]="{'is-invalid': email?.invalid && (email?.touched || email?.dirty)}">
            <div class="invalid-feedback">
                <div *ngIf="email?.errors?.['required']">
                    Email is required
                </div>
                <div *ngIf="email?.errors?.['email']">
                    Email format is not correct
                </div>
            </div>
            
        </div>
        <div class="mt-2">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password"
                autocomplete="off" [ngClass]="{'is-invalid': password?.invalid && (password?.touched || password?.dirty)}">
            <div class="invalid-feedback" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                <div *ngIf="password?.errors?.['required']">
                    Password is required
                </div>
                <div *ngIf="password?.errors?.['pattern']">
                    Password pattern is not correct
                </div>
            </div>
        </div>
        <div class="mt-2">
            <label for="passwordRepeat" class="form-label">Username:</label>
            <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" formControlName="passwordRepeat"
                autocomplete="off" [ngClass]="{'is-invalid': passwordRepeat?.invalid && (passwordRepeat?.touched || passwordRepeat?.dirty)}">
            <div class="invalid-feedback" *ngIf="passwordRepeat?.invalid && (passwordRepeat?.touched || passwordRepeat?.dirty)">
                <div *ngIf="passwordRepeat?.errors?.['required']">
                    Password is required
                </div>
                <div *ngIf="passwordRepeat?.errors?.['notEqual']">
                    Passwords must be equal
                </div>
            </div>
        </div>
        <div class="mt-3 d-flex w-100 justify-content-center">
            <button class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
        </div>
    </form>
</div>